<% provide :title, 'Artigos' %>

<section id="presenter" class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				
			</div>
		</div>
	</div>
</section>


<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<div class='col-md-12'>
							<ul class="breadcrumb">
								<li><%= link_to 'Rails on RS', root_path %></li>
								<li>Como Contribuir</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h1 class="bold">Como contribuir</h1>
						<br>

						<h2 class="bold">Como contribuir para a comunidade</h2>
						<p>Primeiramente a comunidade fica muito grata com o seu interesse em 
						participar. Bom, existem várias formas de contribuir, vamos descrevê-las:</p>
						<br>

						<h2 class="bold">Hands on Code</h2>
						<p>Contribuição nos repositórios em <%= link_to 'https://github.com/railsonrs', 'https://github.com/railsonrs', target: '_blank' %></p>
						<p>Existem projetos que criamos e mantemos, e a contribuição em qualquer um deles
						é bem vinda. Você pode contribuir com código, tradução de documentação ou sugestões.</p>
						<br>

						<h2 class="bold">Criação de conteudo para <%= link_to 'http://railsonrs.org.br', '#' %></h2>
						<p>Você pode gerar conteudo pra o blog criando artigos com informações sobre o 
						universo Ruby on Rails, tutoriais e etc.</p>
						<br>

						<h2 class="bold">Divulgação dos eventos utilizando as redes sociais</h2>
						<p>Utilizamos o <%= link_to 'Meetup', '' %> para divulgar os eventos. O compartilhamento
						deles ajuda a comunidade a ficar conhecidae atrair novos participantes e/ou colaboradores.</p>
						<br>

						<h2 class="bold">Participar do chat no Slack ou Discord para interagir com a comunidade</h2>
						<p>Hoje a principal forma de conversa online entre os membros da comunidade é o Slack e Discord
						(para quem conhecia o IRC, o formato é bem parecido). Quer se cadastrar? Acesse
						<%= link_to 'Slack', '' %> ou <%= link_to 'Discord', '' %>.</p>
						<br>

						<h2 class="bold">Participação nos eventos presenciais e online</h2>
						<p>Quanto mais você participar, mais você se torna ativo! O Rails on RS é totalmente comunitário, Não há um gerente ou uma equipe principal. O que existem são Evangelistas que contribuem ativamente promovendo toda a comunidade. Geralmente o evento trimestral do Rails on RS + Hangouts é usado para discussões da comunidade e tomada de decisões, alem de ser onde reportamos
						publicamente tudo o que acontece com o Rails na Via Láctea. (Em breve expandindo para nossa
						galaxia vizinha Nuvens de magalhães :P)</p>
						<br>

						<h2 class="bold">Evangelização para atrair novos participantes</h2>
						<p>Resumindo, a sua força de vontade para contribuir é o que manda. Quanto mais ativo,
						mais recompensado você será, Em grupo aprendemos muito, desde o desenvolvimento até o trabalho
						em equipe. Além também das novas amizades, oportunidades de trabalho, diversão, expertise e 
						descobrir qual é a galaxia mais proxima da nossa :-).</p>
						<br>
					</div>

					<div class="col-md-12">
						<div class="col-md-12">
							<div class="well">
								<p class="text-center">
									Acha que esse conteúdo possui erros ou 
									poderia ser aperfeiçoado? <u><%= link_to 'Colabore!', 'https://github.com/railsonrs', target: '_blank' %></u></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>