<header>
	<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Rails on RS</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Comunidade <i class="fas fa-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li>
            	<%= link_to community_index_path do %>
            		<h5 class="bold">A comunidade Rails on RS</h5>
            		<p>O que é a comunidade Rails on RS.</p>
            	<% end %>
            </li>
            <li>
            	<%= link_to who_is_path do %>
            		<h5 class="bold">Quem é a comunidade Rails on RS</h5>
            		<p>Quem é a comunidade Rails on RS.</p>
            	<% end %>
            </li>
            <li>
            	<%= link_to code_of_condute_path do %>
            		<h5 class="bold">Codigo de conduta</h5>
            		<p>Codigo de conduta para a comunidade.</p>
            	<% end %>
            </li>
          </ul>
        </li>
        <li><%= link_to 'Artigos', articles_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Eventos <i class="fas fa-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li>
            	<%= link_to '' do %>
            		<h5 class="bold">Eventos Rails on RS</h5>
            		<p>Eventos e encontros no Rio Grande do Sul.</p>
            	<% end %>
            </li>
            <li>
            	<%= link_to '' do %>
            		<h5 class="bold">Codigo de conduta para Eventos</h5>
            		<p>Codigo de conduta para eventos da comunidade.</p>
            	<% end %>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Como Contribuir <i class="fas fa-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li>
            	<%= link_to contribute_index_path do %>
            		<h5 class="bold">Como contribuir?</h5>
            		<p>Quer contribuir com a Rails on RS e não sabe como? saiba mais!</p>
            	<% end %>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
 				<li>
 					<%= link_to 'https://github.com/railsonrs', target: '_blank' do %>
 						<i class="fab fa-github"></i>
 					<% end %>
 				</li>
 				<li>
 					<%= link_to 'https://twitter.com/railsonrgs', target: '_blank' do %>
 						<i class="fab fa-twitter"></i>
 					<% end %>
 				</li>
 				<li>
 					<%= link_to 'https://railsonrs.slack.com', target: '_blank' do %>
 						<i class="fab fa-slack"></i>
 					<% end %>
 				</li>
 				<li>
 					<%= link_to 'https://discord.gg/y6394Xk', target: '_blank' do %>
 						<i class="fab fa-discord"></i>
 					<% end %>
 				</li>
 				<li>
 					<%= link_to 'https://discord.gg/y6394Xk', target: '_blank' do %>
 						<i class="fab fa-youtube"></i>
 					<% end %>
 				</li>
 				<li>
 					<%= link_to 'https://linkedin.com/company/railsonrs', target: '_blank' do %>
 						<i class="fab fa-instagram"></i>
 					<% end %>
 				</li>
 				<li>
 					<%= link_to 'https://www.facebook.com/railsonrgs/', target: '_blank' do %>
 						<i class="fab fa-facebook-square"></i>
 					<% end %>
 				</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>